<div  id="v_id_{{ name }}" style="display: inline-block;width:250px">
    <input type="hidden" name="{{ raw_name }}" v-model="{{ name }}">
    <el-input v-model="{{ name }}" {% if style %} style="{{ style|safe }}"{% endif %} {{ attrs|safe }}>
        {% if slot %}
            <template slot="{{ slot }}">{{ slot_text }}</template>
        {% endif %}
    </el-input>
</div>
<script type="text/javascript">
    new Vue({
        el: '#v_id_{{ name }}',
        data: {
            '{{ name }}': '{{ value }}'
        }
    });
</script>