{% load static %}
<div id="id_{{ name }}_wrapper" style="display: inline-block; width: 250px;">
    <div class="flex-item" style="flex: 1">
        <input name="{{ raw_name }}" type="hidden" v-model="value">
        <el-cascader
                clearable
                :options="options"
                v-model="value"
                :props="{ checkStrictly: strictly}"
                @change="onChange">

        </el-cascader>
    </div>
</div>
<style>
    #id_{{ name }}_wrapper {
        display: flex;
        justify-content: space-between;
    }

    .flex-item {
        display: inline-block;
    {#align-items: center;#}
    }
</style>
<script type="text/javascript">
    //需要隐藏当前的id，防止死循环

    new Vue({
        el: '#id_{{ name }}_wrapper',
        data: {
            value: '{{ value }}',
            options:{{ options|safe }},
            visible: false,
            strictly: '{{ strictly|safe }}' === 'True',

        },
        methods: {
            onChange(value) {
                if (value.length > 0) {
                    this.value = value[value.length - 1];
                } else {
                    this.value = '';
                }
            }
        }
    });

</script>
