{% load static simpletags %}

{% get_setting "SIMPLEUI_DEFAULT_THEME" as theme %}
{% if theme == "dark.css" %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/simpleui-x/theme/el/el.dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/simpleui-x/theme/dark.css' %}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/simpleui-x/elementui/theme-chalk/index.css' %}">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/simpleui-x/fontawesome-free-6.2.0-web/css/all.min.css' %}">